<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('./partials/head.ejs')%>
</head>
<body>
<%- include('./partials/navigation.ejs')%>
    <main class=" container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">
                about
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis iure quos ratione vero itaque. Natus sed aut sunt itaque iusto, praesentium nam excepturi amet eaque vero ad nesciunt, perferendis quas corporis cum! Assumenda accusamus quasi architecto quaerat, et iure. Blanditiis aperiam officia doloribus neque. Inventore, praesentium quo eos cupiditate nostrum sapiente magnam nemo autem magni aut doloribus dignissimos fugit eius labore harum nulla sit voluptates! Repellendus tempora asperiores veritatis voluptatum velit porro harum sint doloribus? Odio maiores accusantium pariatur officiis ipsum illo reprehenderit quidem! Ipsum odit magni iusto vel, non earum totam id illo nemo nulla placeat at! Officia aut, distinctio reiciendis sunt, praesentium vel labore repellat dolorem eaque architecto cupiditate, sed quos quis fugit dolorum quo necessitatibus maxime illum non! Totam ipsam nisi consectetur non nihil. Eaque, dolorum consequuntur! Omnis distinctio sequi facilis doloribus eum? Unde, enim labore sequi, nisi voluptas nesciunt itaque rerum rem suscipit dolorum totam minus similique in temporibus ducimus molestiae asperiores voluptatibus harum odio consequatur qui praesentium incidunt aliquam. Minima illo quo placeat ullam ea a quidem maiores consectetur eaque nam blanditiis corrupti facilis, fugit eos recusandae ut beatae nemo iste corporis molestiae provident, debitis eligendi? Culpa magni autem reprehenderit? Repellat cum a modi atque similique, laborum dicta explicabo magnam itaque consectetur maxime vel impedit, quibusdam minima blanditiis temporibus saepe. Magni eos ex, illum quidem, sit voluptate eveniet consequuntur perferendis inventore corporis a corrupti autem velit dignissimos repellat molestias dolor explicabo fugiat minima blanditiis. Excepturi, totam, harum, neque temporibus voluptatibus debitis ipsum adipisci esse incidunt explicabo velit eligendi! Nobis architecto recusandae itaque libero illo sed repellat autem impedit. Vitae id aliquid inventore, expedita tempora architecto dignissimos officiis beatae mollitia, eligendi tenetur enim, consequuntur possimus asperiores perferendis a? Pariatur in eius culpa esse ea, aliquid nobis est tenetur atque veniam ipsa ipsam, voluptatibus, modi unde quae?
            </p>
        </section>
    </main>

<%- include('./partials/footer.ejs')%>

</body>
</html>